[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ArchivesSnake='*'
jupyter='*'
openpyxl = "*"
more-itertools = "*"
ipdb = "*"
pymysql = "*"

[requires]
python_version = "3.5"
